
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	width:412px
}

nav{
	
	height: 1017px;
	flex-shrink: 0;
	background: url(noise.png), lightgray 0% 0% / 100px 100px repeat;
	background-color: #047943;

}

.bannerLogo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 196px;

	
}

#companyLogo{
	width: 124px;
	height: 47.118675231933594px;
	top: 41px;
	left: 16px;
	margin-top: 41px;
	margin-left: 16px;


	
}

#navIcon{
	width: 23px;
	height: 16.099998474121094px;
	top: 42px;
	left: 336px;
	padding: 0px 0px 0.0000019073486328125px 0px;
	margin-top: 42px;
	margin-right: 16px;

}

#heroContent{
	display: flex;
	flex-direction: column;


}

#heroContent span{
	color: #FFF;
	text-align: center;
	font-size: 54px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 700;
	line-height: 100.1%;
	letter-spacing: -2.7px;
	margin-top: 88px;
	margin-bottom: 24px;
}

#heroContent p{
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	opacity: 0.8999999761581421;
	width: 311px; 
	margin-left: 40px;
	margin-right: 34px;
	margin-bottom: 40px;
}

.storeImages{
	margin-left: 80px;
	margin-right: 66px;
	margin-bottom: 80px;
	width: 242px;
	height: 76px;
}

#phone{
	margin-top: 40px;
	/* margin-left: 5px; */
	margin-right: 70px;
}


#midContent{
	background-color: white;
	background: url(noise2.png), white 0% 0% / 100px 100px repeat;
	height: 350px;
	position: static;

}



#midContent span{
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
	position:absolute;
	color: #007640;
	width: 300px; 

	font-size: 34px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 101.6%;
	letter-spacing: -1.02px;
	z-index: 1;

}


#midContent p{
	position:absolute;
	color: #000;

	/* Body Mobile */
	font-size: 16px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	opacity: 0.6000000238418579;
	margin-top: 150px;
	margin-left: 40px;
	margin-right: 40px;
	width:320px;
	z-index: 1;
}

#midContent img{
	position: relative;
	/* top: 5px; */
	left: 150px;
	width: 350.009px;
	height: 200.856px;
	transform: rotate(11.994deg); 
	
}

.connect{

	height: 681px;
	flex-shrink: 0;
	position: relative;
}


#passportPicture{
	width: 210px;
	height: 250.792px;

	margin: 50px;
	margin-left: 90px;
	background-color:  #C4C4C4;
	/* border: solid #FFBB62; */


}

#passportPicture img{

	width: 223.536px;
	height: 260.792px;
	
	z-index: 1;


}


#connectTitle{
	color: #000;

	margin-left: 32px;
	margin-top: 64.23px;
	margin-right: 32px;
	display: block;
	font-size: 34px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 101.6%;
	letter-spacing: -1.02px;
	width: 311px; 
}


#connectText{
	opacity: 0.6000000238418579;
	color: #121212;
	font-size: 16px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	width: 311px; 
	margin: 45px;

}


#assurance{
	background: url(noise.png), lightgray 0% 0% / 100px 100px repeat;
	background-color: #047943;

	height: 560px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;


}

#fans{

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 50px;
	margin-left: 30px;
	margin-right: 30px;

}

#fansText{
	color: #000;
	font-size: 16px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	/* line-height: 116.6%; */
	letter-spacing: -0.42px;

	border-radius: 15px; 
	padding: 5px;
	width: 60px;
	height: 30px; 
	background: #FFBB62;

}


#fansChat{
	width: 30px;
	height: 30px;
	border-radius: 48px;
	
	border: 3px solid #FFBB62 ;
}


#reply{
	color: #FFF;

/* H2 Mobile */
	font-size: 34px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 101.6%;
	letter-spacing: -1.02px;
	margin-top: 56px;
	margin-left: 32px;
	margin-right: 32px;
	margin-bottom: 24px;
}


#replyText{

	color: #FFF;

	/* Body Mobile 2 */
	font-size: 16px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	opacity: 0.8999999761581421;
	margin-top: 24px;
	margin-left: 32px;
	margin-right: 32px;
	margin-bottom: 152px;



}



#influence{
	width: 375px;
	height: 685px;
	

	background-color: #FFFFFF;
	display:flex;
	flex-direction: column;

	
}

#influencer{
	border-radius: 50px;
	background: #FF8C62;
	margin-top: 72px;
	margin-bottom: 51px;
	margin-left: 20px;
	width: 96px;
	height: auto;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#earn{
	color: var(--black, #121212);
	width: 311px; 
	/* H2 Mobile */
	font-size: 34px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 101.6%;
	letter-spacing: -1.02px;
	margin-top: 40px;
	margin-right: 32px;
	margin-left: 32px;
	margin-bottom: 24px;
}

#earnText{
	opacity: 0.6000000238418579;
	color: var(--black, #121212);
	width: 311px; 

	/* Body Mobile */
	font-size: 16px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 400;
	width: 311px; width: 311px; 
	line-height: 150%;
	margin-top: 24px;
	margin-right: 32px;
	margin-left: 32px;
	margin-bottom: 31px;

}


#phone2{
background: url(phone2.png), white 20% / cover no-repeat;
margin-right: 73px;
margin-left: 6px;
}


.filter{

	height: 560px;
	background: #000;

}


#filterInfluence{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 100px;

}



#filterInfluencer{
	color: #000;
	font-size: 14px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 116.6%;
	letter-spacing: -0.42px;
	border-radius: 50px;
	background: #FF8C62;
	width: 96px;
	height: 27px; 
}


#filterIcon{
	width: 48px;
	height: 48px;
	border-radius: 48px;
	border: 2.5px solid #FF8C62;

}


#filterTitle{
	color: #FFF;
	font-size: 34px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 101.1%;
	letter-spacing: -1.02px;
	display: flex;
	width: 311px;
	flex-direction: column;
	margin-top: 55px;
	margin-bottom: 26px;
	margin-left: 32px;
	margin-right: 32px;




}



#filterText{

	/* width: 311px; */
	

	color: #FFF;

	/* Body Mobile */
	font-size: 16px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	opacity: 0.6000000238418579;

	margin-right: 32px;
	margin-left: 32px;
	margin-bottom: 138px;
}


.ear1ReassuranceSection{
	height: 1639px; 
	background: #FFF;


}


#ear1Reassurance{
	color: #007640;
	display: block;

	/* H2 Mobile */
	font-size: 34px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 101.6%;
	letter-spacing: -1.02px;
	width: 311px; 
	margin-top: 56px;
	margin-bottom: 76px;
	margin: 32px;
}

.stepIndicator{
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
}

#steps{

	display: flex;
	flex-direction: column;


}

#stepTexts{
	display: flex;
	flex-direction: column;

}

#circle{
	color: #0000004D;
	
	padding: 10px;


	border: #C4C4C4 solid;
	width: 12px;
	height: 12px; 
	border-radius: 25px;
	border: solid ;
	margin-left: 20px;
	margin-right: 32px;
	margin-top: 8px;
}

#line{
	width: 1px;
	height: 100px;
	color: #0000004D;
	background-color: #0000004D;
	border: 1px solid;
	margin-top: 10px;
	margin-left: 30px;
}


#stepTextTitle{
	color: var(--black, #121212);
	font-size: 24px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 116.6%;
	letter-spacing: -0.72px;
	margin-top: 1px;
	margin-right: 32px;

	margin-bottom: 16px;

}

#stepTexts{
	color: var(--black, #121212);

	/* Body Mobile */
	font-size: 16px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	opacity: 0.6000000238418579;
	margin-right: 32px;

	margin-bottom: 54px;


}


.phoneCard{
	position: relative;
}

#phone2{
	background: url(phone2.png), white 20% / cover no-repeat;
	margin-right: 73px;
	margin-left: 6px;
	}


.gameCard{
	width: 335px;
	height: 551px;
	flex-shrink: 0;
	border-radius: 50px;
	background: url(noise.png), lightgray 0% 0% / 100px 100px repeat;
	background-color: #047943;
	z-index: 1;
	position: absolute;
	top: 400px;
	margin-left: 35px;

}



#getAhead{
	display: block;
	color: #FFF;
	font-size: 48px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 101.6%;
	letter-spacing: -1.44px;
	width: 287px; 
	margin-top: 100px;
	margin: 24px;

}

#saveTime{
	display: block;
	color: #FFF;

/* Body Mobile 2 */
	font-size: 16px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	width: 287px; 
	margin-top: 50px;
	margin: 24px;

}


.storeImages2{
	margin-top: 30px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 100px;
	width: 242px;
	height: 76px;
}


#googlePlay2{
	margin-top:30px

}

#appStore2{
	margin-top:30px

}


hr{
	height:1px;
	border-width:0;
	color:gray;
	background-color:gray
}

footer{
	display: flex;
	flex-direction: column;

}

#access{
	color: var(--black, #121212);
font-size: 24px;
font-family: DM Sans;
font-style: normal;
font-weight: 700;
line-height: 150%;
width: 335px; 
}

form{
	width: 335px;
	height: 56px; 
	border-radius: 10px;
	border: 1px solid rgba(18, 18, 18, 0.30);
}

#ear1Footer{
	width: 96px;
	height: 33.713px;
	flex-shrink: 0;
	margin: 30px;
}


#socialMedia{
	display: flex;
	flex-direction: row;
	margin: 20px;
	gap: 20px;
}

#footerTitles{
	color: var(--black, #121212);
	font-size: 20px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	margin-top: 52px;
	margin-left: 32px;
	margin-bottom: 32px;

}

#footerLinks{
	color: var(--black, #121212);

	/* Body Mobile */
	font-size: 16px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin-bottom: 24px;
	margin-left: 32px;
}

